@import "bulma";

.container {
  width: 1100px;
}

.box {
  margin-top: 25px;
  text-align: center;
}

.button {
  width: 160px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-top: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.selectDevice {
  text-align: center;
}

.phoneTitleHome {
  text-align: center;
  font-size: 2em;
}

.card {
  display: inline-block;
  margin: 25px;
}


.mainimg {
  height: 800px;
  display: block;
  position: relative;
  margin: auto;
}

.box button {
  margin: 0px 5px 25px 5px;
}

.glare {
  width: 800px;
  height: 473px;
  width: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 800px 473px;
  border-color: transparent transparent #ffffff transparent;
}

.login-form input {
  text-align: center;
  width: 50%;
  display: block;
  margin: 25px auto;
}

.loginCont button {
  display:block;
  margin: 25px auto;
}

.background {
  max-width: none;
  position: absolute;
  top: 0px;
  height: 800px;
  left: 0px;
}

.backgroundblur{
  max-width: none;
  position: absolute;
  top: 0px;
  height: 800px;
  left: 0px;
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px);
}

.imageCont {
  position: relative;
  width: 475px;
  margin: 0 auto;
  overflow: hidden;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
