@import "bulma";

.container {
  width: 1100px;
}

.box {
  margin-top: 25px;
  text-align: center;
}

.button {
  width: 160px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-top: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.selectDevice {
  text-align: center;
}

.phoneTitleHome {
  text-align: center;
  font-size: 2em;
}

.card {
  display: inline-block;
  margin: 25px;
}


.mainimg {
  height: 800px;
  display: block;
  position: relative;
  margin: auto;
}

.box button {
  margin: 0px 5px 25px 5px;
}

.glare {
  width: 800px;
  height: 473px;
  width: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 800px 473px;
  border-color: transparent transparent #ffffff transparent;
}

.login-form input {
  text-align: center;
  width: 50%;
  display: block;
  margin: 25px auto;
}

.loginCont button {
  display:block;
  margin: 25px auto;
}
