$purple: #847bb9;
@import "bulma";

.container {
  width: 1100px;
}

.box {
  margin-top: 25px;
  text-align: center;
}

.button {
  width: 160px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-top: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.selectDevice {
  text-align: center;
}

.phoneTitleHome {
  text-align: center;
  font-size: 2em;
}

.card {
  display: inline-block;
  margin: 25px;
}


.mainimg {
  height: 800px;
  display: block;
  position: relative;
  margin: auto;
}

.box button {
  margin: 0px 5px 25px 5px;
}

.glare {
  width: 800px;
  height: 473px;
  width: 0;
  width: 0;
  height: 0;
  // border-style: solid;
  // border-width: 0 0 800px 473px;
  // border-color: transparent transparent #ffffff transparent;
}

.login-form input {
  text-align: center;
  width: 50%;
  display: block;
  margin: 25px auto;
}

.loginCont button {
  display:block;
  margin: 25px auto;
}

.background {
  max-width: none;
  position: absolute;
  top: 0px;
  height: 800px;
  left: 0px;
}

.backgroundblur{
  max-width: none;
  position: absolute;
  top: 0px;
  height: 800px;
  left: 0px;
  -webkit-filter: blur(5px);

}

#imageCont {
  position: relative;
  width: 475px;
  margin: 0 auto;
  overflow: hidden;
}

.box li {
  text-align: left;
}

.phone-box {
  width: 75%;
  position: relative;
}

.tool-box {
  width: 22%;
  position: absolute;
  right: 0px;
  top: 50px;
}

.device-box {
  width: 22%;
  position: absolute;
  right: 0px;
  top: 390px;
  text-align: left;
}

.device-box p {
  text-align: center;
}

// CSS for phone screenshots

.Nexus-5 {
  position: absolute;
  width: 303px;
  height: 538px;
  left: 85px;
  bottom: 140px;
  z-index: 1;
}

.Nexus-6 {
  position: absolute;
  width: 295px;
  height: 563px;
  left: 90px;
  bottom: 116px;
  z-index: 1;
}

.Nexus-6p {
  position: absolute;
  width: 299px;
  height: 531px;
  left: 78px;
  bottom: 134px;
  z-index: 1;
}

.Nexus-5x {
  position: absolute;
  width: 299px;
  height: 527px;
  left: 87px;
  bottom: 139px;
  z-index: 1;
}

.iPhone-6s {
  position: absolute;
  width: 283px;
  height: 503px;
  left: 91px;
  bottom: 149px;
  z-index: 1;
}
.LGG3 {
  position: absolute;
  width: 310px;
  height: 551px;
  left: 82px;
  bottom: 133px;
  z-index: 1;
}
