$purple: #847bb9;
@import "bulma";
@import "color-picker";
@import "angularjs-slider";

.container {
  width: 1100px;
}

.box {
  margin-top: 25px;
  text-align: center;
}

.button {
  width: 160px;
}

.log-button {
  margin-top:11px;
  margin-right:10px;
}

// bulma changes
.card {
  height: 290px;
}

.button.is-primary {
  margin-top: 13px;
}

html {
  background-color: #2aa198;
}

.card-frames {
  width: 200px;
}




// end of bulm changes
.frames-image {
  height: 270px;
  margin: 10px auto;
  width:90%;
}


.nav {
  border: solid lightgrey 1px;
  border-radius: 5px;
}

.nav-logo {
  height: 35px;
  margin: 10px;
}

.selectDevice {
  text-align: center;
}

.phoneTitleHome {
  text-align: center;
  font-size: 2em;
}

.card {
  display: inline-block;
  margin: 25px;
  &:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: black;
  }
}


.mainimg {
  height: 800px;
  display: block;
  position: relative;
  margin: auto;
  pointer-events: none;
}

.box button {
  margin: 0px 5px 25px 5px;
}

.login-form input {
  text-align: center;
  width: 50%;
  display: block;
  margin: 25px auto;
}

.loginCont button {
  display:block;
  margin: 25px auto;
}

.background {
  max-width: none;
  position: absolute;
  top: 0px;
  height: 800px;
  left: 0px;
  cursor: move;
}

.backgroundblur{
  max-width: none;
  position: absolute;
  top: 0px;
  height: 800px;
  left: 0px;
  -webkit-filter: blur(5px);

}

#imageCont{
  position: relative;
  width: 475px;
  overflow: hidden;
}

.box li {
  text-align: left;
}

.phone-box {
  width: 55%;
  position: relative;
  margin: 25px auto;
  display: flex;
  justify-content: center;
}

.tool-box {
  width: 22%;
  position: absolute;
  right: 0px;
  top: 63px;
  height: 840px;
}

.device-box {
  width: 22%;
  position: absolute;
  top: 63px;
  height: 840px;
}

.device-box p {
  text-align: center;
}

.device-box-two {
  position: absolute;
}

.input {
  width: 160px;
  margin-bottom: 25px;
}

#phoneTextOne {
  z-index: 3;
  height: 0px;
  cursor: move;
  text-shadow: 0px 1px 1px #000;
}

#phoneTextTwo {
  z-index: 3;
  top: 720px;
  height: 0px;
  cursor: move;
  text-shadow: 0px 1px 1px #000;
}

.color-picker-input-wrapper {
  margin: 0 auto;
  width: 135px;
  margin-bottom: 25px;
}

.color-picker-wrapper .input-group .color-picker-input-swatch {
  width: 135px;
}

.colorpicker {
  visibility: hidden;
  height: 0px;
}

// .logo {
//   position: absolute;
// z-index: 4;
// }

.select-style {
  border: 1px solid #ccc;
  width: 160px;
  border-radius: 3px;
  overflow: hidden;
  background: #ffffff;
  margin: auto;
}

.select-style select {
  padding: 8px 8px;
  width: 160px;
  border: none;
  box-shadow: none;
  background: #ffffff;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

.is-6 {
  display: block;
}

button.buttonGrid {
  margin: 5px 5px;
  width: 30px;
}

.logo {
  position: absolute;
  z-index: 4;
  left:220px;
  top: 570px;
  cursor: move;
}

.rzslider .rz-pointer {
  background-color: $purple;
}

.rzslider {
  margin-bottom: 35px;
  border-bottom: 5px;
}

.tools{
  padding-bottom: 5px;
  border-bottom: solid lightgrey 1px;
}

.border {
  border-bottom: solid lightgrey 1px;
  margin-bottom: 20px;
}

.media-content button {
  margin-left: 50px;
}

.content-frame {
  height: 75px;
}

.single-image {
  display: block;
  margin: 0 auto;
}

.delete-frame {
  margin-top: 25px;
}

.loading-image {
  height: 100px;
  margin: 10px auto;
}

.loader-back {
  background-color: grey;
}
// CSS for phone screenshots

.Nexus-5 {
  position: absolute;
  width: 303px;
  height: 538px;
  left: 85px;
  bottom: 140px;
  z-index: 1;
}

.Nexus-6 {
  position: absolute;
  width: 314px;
  height: 558px;
  left: 81px;
  bottom: 117px;
  z-index: 1;
}

.Nexus-6p {
  position: absolute;
  width: 294px;
  height: 521px;
  left: 89px;
  bottom: 140px;
  z-index: 1;
}

.Nexus-5x {
  position: absolute;
  width: 296px;
  height: 524px;
  left: 88px;
  bottom: 140px;
  border-radius: 1px;
  z-index: 1;
}

.iPhone-6s {
  position: absolute;
  width: 283px;
  height: 503px;
  left: 96px;
  bottom: 149px;
  z-index: 1;
}
.LGG3 {
  position: absolute;
  width: 310px;
  height: 551px;
  left: 82px;
  bottom: 133px;
  z-index: 1;
}

.Galaxy-S6 {
  position: absolute;
  width: 303px;
  height: 537px;
  left: 85px;
  bottom: 130px;
  z-index: 1;
  border-radius: 2px;
}

.Galaxy-S7 {
  position: absolute;
  width: 295px;
  height: 523px;
  left: 89px;
  bottom: 137px;
  z-index: 1;
  border-radius: 2px;
}

.Note-5 {
  position: absolute;
  width: 305px;
  height: 542px;
  left: 85px;
  bottom: 128px;
  border-radius: 2px;
  z-index: 1;
}
