$purple: #847bb9;
@import "bulma";
@import "color-picker";
@import "angularjs-slider";

.container {
  width: 1100px;
}

.box {
  margin-top: 25px;
  text-align: center;
}

.button {
  width: 160px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-top: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.selectDevice {
  text-align: center;
}

.phoneTitleHome {
  text-align: center;
  font-size: 2em;
}

.card {
  display: inline-block;
  margin: 25px;
  &:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: black;
  }
}


.mainimg {
  height: 800px;
  display: block;
  position: relative;
  margin: auto;
  pointer-events: none;
}

.box button {
  margin: 0px 5px 25px 5px;
}

.glare {
  width: 800px;
  height: 473px;
  width: 0;
  width: 0;
  height: 0;
  // border-style: solid;
  // border-width: 0 0 800px 473px;
  // border-color: transparent transparent #ffffff transparent;
}

.login-form input {
  text-align: center;
  width: 50%;
  display: block;
  margin: 25px auto;
}

.loginCont button {
  display:block;
  margin: 25px auto;
}

.background {
  max-width: none;
  position: absolute;
  top: 0px;
  height: 800px;
  left: 0px;
}

.backgroundblur{
  max-width: none;
  position: absolute;
  top: 0px;
  height: 800px;
  left: 0px;
  -webkit-filter: blur(5px);

}

#imageCont {
  position: relative;
  width: 475px;
  margin: 0 auto;
  overflow: hidden;
}

.box li {
  text-align: left;
}

.phone-box {
  width: 55%;
  position: relative;
  margin: 25px auto;
}

.tool-box {
  width: 22%;
  position: absolute;
  right: 0px;
  top: 50px;
  height: 840px;
}

.device-box {
  width: 22%;
  position: absolute;
  top: 50px;
  height: 840px;
}

.device-box p {
  text-align: center;
}

.input {
  width: 160px;
  margin-bottom: 25px;
}

#phoneTextOne {
  z-index: 3;
  height: 0px;
}

#phoneTextTwo {
  z-index: 3;
  height: 0px;
}

.color-picker-input-wrapper {
  margin: 0 auto;
  width: 135px;
  margin-bottom: 25px;
}

.color-picker-wrapper .input-group .color-picker-input-swatch {
width: 135px;
}

.colorpicker {
  visibility: hidden;
  height: 0px;
}

// .logo {
//   position: absolute;
// z-index: 4;
// }

.select-style {
border: 1px solid #ccc;
width: 160px;
border-radius: 3px;
overflow: hidden;
background: #ffffff;
margin: auto;
}

.select-style select {
padding: 8px 8px;
width: 160px;
border: none;
box-shadow: none;
background: #ffffff;
background-image: none;
-webkit-appearance: none;
}

.select-style select:focus {
outline: none;
}

.is-6 {
  display: block;
}

button.buttonGrid {
  margin: 5px 5px;
  width: 30px;
}

.logo {
  position: absolute;
  z-index: 4;
  left:220px;
  top: 570px;
}
// .savedImage {
//   margin: auto;
// }
// CSS for phone screenshots

.Nexus-5 {
  position: absolute;
  width: 303px;
  height: 538px;
  left: 85px;
  bottom: 140px;
  z-index: 1;
}

.Nexus-6 {
  position: absolute;
  width: 295px;
  height: 563px;
  left: 90px;
  bottom: 116px;
  z-index: 1;
}

.Nexus-6p {
  position: absolute;
  width: 299px;
  height: 531px;
  left: 78px;
  bottom: 134px;
  z-index: 1;
}

.Nexus-5x {
  position: absolute;
  width: 299px;
  height: 527px;
  left: 87px;
  bottom: 139px;
  z-index: 1;
}

.iPhone-6s {
  position: absolute;
  width: 283px;
  height: 503px;
  left: 91px;
  bottom: 149px;
  z-index: 1;
}
.LGG3 {
  position: absolute;
  width: 310px;
  height: 551px;
  left: 82px;
  bottom: 133px;
  z-index: 1;
}
