<div class="box">
  <h1 class="title is-5">What is N-Frame?</h1>
  <p>N-Frame is an application the helps mobile developers and enthusiasts create professional looking displays for their application</p>
  <br>
  <h1 class="title is-5">How can I get new phones?</h1>
  <p>Currently phones are only available to be added by me. If you would like a new phone to be supported you can email me at tonyjsouthern@gmail.com and I will work on adding it as quickly as possible</p>
  <br>
  <h1 class="title is-5">What features are going to be implemented?</h1>
  <p>As this website was developed by a one man team fetaures may be slow to roll out. the following features are currently in plans for support:<br><br>
    <p>
     Hex/RGB/HSL background color selector<br<>
     Font style selector<br>
     Toggle background blur<br>
     Adjustable drop shadow on phone frames<br>
     Room for a second logo/other image
  </p></p><br>

  <h1 class="title is-5">I've found a bug, where can I submit a report?</h1>
  <p>Bug reports can be submitted to me directly at tonyjsouthern@gmail.com</p>
