<div class="box">
  <p class="selectDevice">Select your device from the devices  below or use the drop-down menu above!</p>

  <div class="card">
  <div class="card-image">
    <a href="/#/nexus5">
    <figure class="image is-4by3">
      <img class="phoneImageHome" src="../images/phonetemplatesthumb/nexus5.png" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="phoneTitleHome">Nexus 5</p>
      </div>
    </div>
    </div>
  </a>
  </div>

  <div class="card">
    <a hred="">
  <div class="card-image">
    <figure class="image is-4by3">
      <img class="phoneImageHome" src="http://placehold.it/300x225" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="phoneTitleHome">Nexus 6</p>
      </div>
    </div>
    </div>
  </a>
  </div>

  <div class="card">
    <a href="">
  <div class="card-image">
    <figure class="image is-4by3">
      <img class="phoneImageHome" src="http://placehold.it/300x225" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="phoneTitleHome">Nexus 6p</p>
      </div>
    </div>
    </div>
  </a>
  </div>

  <div class="card">
    <a href="">
  <div class="card-image">
    <figure class="image is-4by3">
      <img class="phoneImageHome" src="http://placehold.it/300x225" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="phoneTitleHome">Nexus 5x</p>
      </div>
    </div>
    </div>
  </a>
  </div>

  <div class="card">
    <a href="">
  <div class="card-image">
    <figure class="image is-4by3">
      <img class="phoneImageHome" src="http://placehold.it/300x225" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="phoneTitleHome">iPhone 5</p>
      </div>
    </div>
    </div>
  </a>
  </div>

  <div class="card">
    <a href="">
  <div class="card-image">
    <figure class="image is-4by3">
      <img class="phoneImageHome" src="http://placehold.it/300x225" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="phoneTitleHome">Iphone 6</p>
      </div>
    </div>
    </div>
  </a>
  </div>

  <div class="card">
    <a href="">
  <div class="card-image">
    <figure class="image is-4by3">
      <img class="phoneImageHome" src="http://placehold.it/300x225" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="phoneTitleHome">Galaxy s7</p>
      </div>
    </div>
    </div>
  </a>
  </div>

  <div class="card">
    <a href="">
  <div class="card-image">
    <figure class="image is-4by3">
      <img class="phoneImageHome" src="http://placehold.it/300x225" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="phoneTitleHome">Note 5</p>
      </div>
    </div>
    </div>
  </a>
  </div>

  <div class="card">
    <a href="">
  <div class="card-image">
    <figure class="image is-4by3">
      <img class="phoneImageHome" src="http://placehold.it/300x225" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="phoneTitleHome">Galaxy s6</p>
      </div>
    </div>
    </div>
  </a>
  </div>


</div>
