<div class="loginCont">
  <div class="box">
    <form class="login-form" ng-show="vm.loginswitch" ng-submit="vm.login(user)">
      <h3 class="title is-5"> Login </h3>
      <input class="input" placeholder="Email Address" ng-model="user.email">
      <input class="input" type="password" placeholder="Password" ng-model="user.password">
      <button class="button is-primary">Submit</button>
      <span>Don't have an account? Signup</span>
      <a ng-click="vm.toggle()">here!</a>
    </form>

    <div class="register" ng-hide="vm.loginswitch">
      <form class="login-form" ng-submit="vm.signUp(user)">
        <h3 class="title is-5"> Registration </h3>
        <input class="input" placeholder="Email Address" ng-model="user.email">
        <input class="input" placeholder="Username" ng-model="user.username">
        <input class="input" placeholder="Password"  type= "password" ng-model="user.password">
        <button class="button is-primary">Submit</button>
      </form>
      <span>Already have an account? Click</span>
      <a ng-click="vm.toggle()">here</a>
      <span>to login!</span>
    </div>
  </div>
</div>
