<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-tab is-active" href="/#/">Home</a>
      <a class="nav-item is-tab">List of support devices</a>
      <a class="nav-item is-tab">About</a>
    </div>
    <div class="dropdown">
      <span class="button is-primary">Select Phone</span>
      <div class="dropdown-content">
        <a href="/#/nexus5">Nexus 5</a><br>
        <a href="">Nexus 6</a><br>
        <a href="">Nexus 6p</a><br>
        <a href="">Nexus 5x</a>
      </div>
    </div>
  </div>
</nav>


<div ui-view>
</div>

<footer class="box">
      <span class="footertext">&copy; 2016 | Tony Southern</span>
</footer>
