
<div class="box tool-box">
  <p class="title is-5">Image Tools:</p>
  <button class="button" ng-click="vm.backgroundSelect()">Select Background</button>
  <button class="button" ng-click="vm.screenshotSelect()">Select Screenshot</button>
  <button class="button" ng-click="vm.blurToggle()">Toggle Blur</button>


  <button class="button" ng-click="vm.savePic()">Save</button>
</div>

<div class="box device-box">
  <p class="title is-5">Text Tools:</p>
  <input ng-model="main.text" class="input" placeholder="Main Text"></input>
  <input ng-model="secondary.text" class="input" placeholder="Secondary Text"></input>


  <color-picker ng-model="myColor"></color-picker>

  <button class="button" ng-click="vm.setFontColor()">Set Font Color</button>
  <button class="button" ng-click="vm.savePic()">Save</button>
</div>

<div class="box phone-box">
  <div id="imageCont" jqyoui-droppable="{onDrop: 'vm.drop()'}" data-drop="true">

    <!-- Draggable Text Above Phone -->
    <p id="phoneTextOne"  jqyoui-draggable data-drag="true" data-jqyoui-options="{revert: 'invalid'}">{{ main.text }}</p>
    <p id="phoneTextTwo" jqyoui-draggable data-drag="true" data-jqyoui-options="{revert: 'invalid'}">{{ secondary.text }}</p>

    <!-- Background Images -->
    <img class="background" ng-class="{'backgroundblur': isActive}" src="{{ vm.background }}">
    <img class="{{ vm.phone.model }}" ng-src="{{ vm.screenshot }}">
    <img class="mainimg" src="{{ vm.phone.url }}">

  </div>
</div>

<div class="box savedImage">

</div>
<input class="colorpicker" value="{{ myColor }}">
